/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
.container {
    max-width: 1280px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear:both;
}
header {
    /* background-color: #e579e6; */
    height: 120px;
    margin-bottom: 20px;
}
.linea{
    width: 1px;
    height: 70px;
    display: inline-block;
    background-color: #8A8A8A;
    margin-left: 15px;
}
nav ul li {
    display: inline-block;
    padding-top: 30px;
    margin-right: 10px;

}
a{
    text-decoration: none;
    color: #8A8A8A;
}
.sezione1 {
    background-image: url("../img/banner.jpg");
    background-size: 1280px 550px;
    height: 470px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.motto{
    width: 660px;
    height: 81px;
    padding-top: 310px;
    padding-left: 50px;
    font-size: 30px;
    font-weight: 350;
    font-family: "DejaVu Sans";
    color: white;
    display: block;
}
#descrizione{
    padding-top: 70px;
    padding-left: 50px;
    color: white;
    width: 650px;
    font-size: medium;
}
.sezione2 {
    height: 620px;
    margin-bottom: 20px;
}
.block1 {
    background-color: white;
    height: 95px;
    margin-bottom: 15px;
}
h1{
    font-size: 40px;
}
h3{
    color: #8A8A8A;
    margin-bottom: 8px;
}
p{
    color: #8A8A8A;
}
.col-right, .col-left {
    width: 20%;
    float: left;
    min-height: 180px;
    border-radius: 8px;
}
.col-middle {
    width: calc(60% - 20px);
    min-height: 495px;
    float: left;
    margin: auto 10px;
}
.img1{
    width: 256px;
    height: 300px;
    border-radius: 8px;
}
.img2{
    width: 748px;
    height: 300px;
    border-radius: 8px;

}
.img3{
    width: 256px;
    height: 300px;
    border-radius: 8px;

}
footer {
    height: 35px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
#imglogo{
    height: 70px;
}

#heart{
    color: red;
    font-size: 30px;
}